<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBCS" connectionString="Data Source=.\sqlexpress; Initial Catalog=PosDataFile_Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Husnain.Properties.Settings.Setting" connectionString="Data Source=.\sqlexpress;Initial Catalog=PosDataFile_Data;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Husnain.Properties.Settings.PosDataFile_DataConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=PosDataFile_Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>